<!--<div class="card">
  <div class="card-header">
    <div> <b>{{_SDService.selectedEventData.eventName}}</b> </div>
    <div>Number of available seats : {{_SDService.selectedEventData.availableSeats}}</div>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-light ">Cancel</button>
    <button type="button" class="btn btn-primary ">Submit</button>
  </div>
</div>-->


<div class="card text-center">
  <div class="card-header">
    <div> <b>{{_SDService.selectedEventData.eventName}}</b> </div>
    <div>Number of available seats : {{_SDService.selectedEventData.availableSeats}}</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div class="card-footer text-muted">
    <button type="button" class="btn btn-light ">Cancel</button>
    <button type="button" class="btn btn-primary ">Submit</button>
  </div>
</div>
